<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightInject" version="5.0.3" targetFramework="net471" />
  <package id="Mongo.Migration" version="1.1.17" targetFramework="net471" />
  <package id="Mongo2Go" version="2.2.7" targetFramework="net471" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
</packages>